ml-dtypes==0.2.0
protobuf==4.25.9
tensorflow==2.15.0
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.3
tensorflow-graphics==2021.12.3
tensorflow-io==0.37.1
tensorflow-io-gcs-filesystem==0.37.1
typeguard==2.13.3

