accelerate==1.2.1
absl-py==2.1.0
array_record==0.5.1
dm-tree==0.1.8
draccus==0.8.0
einops==0.8.0
etils==1.11.0
huggingface-hub==0.26.5
jsonlines==4.0.0
ninja==1.11.1.3
numpy==1.26.4
opencv-python==4.10.0.84
packaging==24.2
peft==0.11.1
pillow==11.0.0
psutil==6.1.0
pyyaml==6.0.2
rich==13.9.4
safetensors==0.4.5
scipy==1.14.1
sentencepiece==0.1.99
timm==0.9.10
tokenizers==0.19.1
tqdm==4.67.1
transformers==4.40.1
wandb==0.19.1
dlimp @ git+https://github.com/moojink/dlimp_openvla@040105d256bd28866cc6620621a3d5f7b6b91b46

